.header-blue{
    background-color: rgb(56, 56, 167);
}

.search-btn {
    width: 100%;
    background-color:rgb(83, 83, 170) ;
    color: white;
    margin-top: .5rem;
}

.search-text {
    width: 100%;
    padding: 0.5rem;
}

.container {
    border: .1rem solid black;
    padding: .5rem;
}

.todayHead{
    font-weight: 700;
}

.weatherText {
    font-size: 1.2rem;
}